@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    color: #404040;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 300;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-weight: 200;
    font-size: 36px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: #404040 1px dotted;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: static;
}

section {
    padding-top: 100px;
}

header h2 {
    margin: 0;
    text-wrap: nowrap;
}

header div {
    border: solid 0px red;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav>ul>li {
    padding: 10px;
    border: solid 0px red;
    font-size: 18px;
}

nav>ul>li>a {
    text-decoration: none;
    color: cornflowerblue;
}


/* Responsive Styles */

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
    }
    nav ul.show {
        display: flex;
    }
    nav .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    nav .hamburger div {
        background-color: cornflowerblue;
        height: 3px;
        width: 100%;
        border-radius: 5px;
    }
}